<div class="form-control d-flex">
  <div *ngFor="let value of values">
    {{ inputFormatter != null ? inputFormatter(value) : value}}
  </div>
  <div class="flex-grow-1">
      <input [ngbTypeahead]="searchFn" [editable]="editable" [(ngModel)]="newValue"
             [resultFormatter]="inputFormatter" [inputFormatter]="inputFormatter"
             (selectItem)="onSelectedItem($event)"
             (keydown)="onKeyEnterDown($event)"
             [focusFirst]="focusFirst" type="text"
             class="w-100"
      >
  </div>
</div>
